<main>
    <h1 class="text-center text-uppercase">Hello word</h1>
    <h2 class="text-end text-lowercase">Hello word</h2>
    <h3 class="text-capitalize">Hello word, hello Ukraine</h3>
    <hr>
    <div class="display-1 text-muted">Hello word</div>
    <div class="display-5">Hello word</div>
    <div class="display-6">Hello word</div>

    <hr>
    <div class="text-end">
        Додатковий <span class="display-6">текст</span>
    </div>

    <hr>

    <button class="btn btn-primary">
        <span class="text-uppercase">Button primary</span>

    </button>
    <br>
    <br>

    <div class="card">
        <div class="card-body">
            <p class="text-primary">My text</p>
            <p class="text-primary">My text</p>
            <p class="text-primary">My text</p>
        </div>
    </div>




    <hr>
    <div class="card">
        <div class="card-body">
            <button class="btn btn-outline-primary btn-lg">My button</button>
            <button class="btn btn-outline-secondary btn-sm">My button</button>
            <button class="btn btn-outline-dark">My button</button>
        </div>
    </div>



    <br>
    <br>

    <div class="card">
        <div class="card-body">
            This in content
        </div>
    </div>



</main>